.popup {
  width: 430px;
  height: 330px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px;
  margin: 195px auto;
  transition: visibility 0s, opacity 0.6s linear;
  /* margin-top: 195px; */
}

/* MOBILE*/
@media screen and (min-width: 5px) and (max-width: 320px) {
  .popup {
    max-width: 282px;
    height: 322px;
    padding: 25px 22px;
    margin: 123px auto;
  }
}
