.popup__button-popup {
  width: 358px;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-top: auto;
  cursor: pointer;
}

.popup__button-popup:hover {
  opacity: 0.8;
}
