.profile__info {
  display: flex;
  max-width: 65%;
  /* max-width: 565px; */
}

/* TABLET */
/* @media screen and (min-width: 321px) and (max-width: 768px) {
  .profile__info {
    max-width: 70%;
  }
} */

/* MOBILE*/
@media screen and (min-width: 5px) and (max-width: 550px) {
  .profile__info {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
