.page {
  padding: 45px 0 60px;
  max-width: 880px;
  width: 95%;
  margin: 0 auto;
}

/* TABLET */
@media screen and (min-width: 321px) and (max-width: 768px) {
  .page {
    padding: 45px 0 60px;
    box-sizing: border-box;
  }
}

/* MOBILE*/
@media screen and (min-width: 5px) and (max-width: 550px) {
  .page {
    /* max-width: 320px; */
    padding: 0;
  }
}
