/* CLASE CON  display: block; PARA OCULTAR LA MODAL: */

.popup-container {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  margin: 0 auto;
  /* left: 0; */
  /* pointer-events: para que deje ver los eventos javascript :*/
  pointer-events: none;
  display: flex;
  /* para que se abra lento */
  visibility: hidden;
  opacity: 0;
  /* transition: 6s linear; */
  transition: visibility 0.6s, opacity 0.5s linear;
  z-index: 2;
}
