.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  /* or 114% */
  text-align: left;
  margin: 0;
}

/* MOBILE*/
@media screen and (min-width: 5px) and (max-width: 320px) {
  .profile__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
  }
}
