.popup__text-image {
  font-style: normal;
  font-size: 12px;
  line-height: 1;
  vertical-align: top;
  text-align: left;
  color: #fff;
  padding: 10px 40px 0;
}

/* MOBILE*/
@media screen and (min-width: 5px) and (max-width: 320px) {
  .popup__text-image {
    padding: 10px 0 0;
  }
}
