.profile__avatar-container {
    width: 120px;
    height: 120px;
    margin-right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.profile__avatar-container:hover {
    opacity: 1;
    transition: 0.8s ease-out;

}

/* NO */
/* .profile__avatar-container {
    position: relative;
    margin: auto;
  }

  .profile__avatar-container:hover .profile__avatar-overlay {
    opacity: 1;
    transition: 0.8s ease-out;
  } */