.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  margin: 0 auto;
  object-fit: cover;
  
}

/* TABLET */
/* @media screen and (min-width: 321px) and (max-width: 768px) {
  .profile__avatar {
  }
} */

/* MOBILE*/
@media screen and (min-width: 5px) and (max-width: 320px) {
  .profile__avatar {
    margin-right: 0;
    display: block;
  }
}
