.popup__input-popup {
  width: 358px;
  height: 60px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding-top: 15px;

  /* opacity: 0.2;*/

  /* font */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.popup__input-popup:focus {
  border-color: #00b894;
}

/* MOBILE*/
@media screen and (min-width: 5px) and (max-width: 320px) {
  .popup__input-popup {
    width: 238px;
  }
}
