.image-container__close-image {
  background-image: url(../../../../images/close_icon.svg);
  /* position: absolute; */
  right: 320px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-size: 100%;
  cursor: pointer;
  align-self: end;
  padding: 20px;
}

.image-container__close-image:hover {
  background-image: url(../../../../images/close_icon_hover.svg);
}

/* MOBILE*/
@media screen and (min-width: 5px) and (max-width: 320px) {
  .image-container__close-image {
    top: 150px;
    right: 25px;
    width: 30px;
    height: 30px;
  }
}
