/* CLASE CON  display: block; PARA MOSTRAR LA MODAL: */

.show {
  display: flex;
  pointer-events: auto;
  justify-content: center;
  align-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  transition: visibility 0s, opacity 0.6s linear;
}
