/* CLASE CON  display: block; PARA MOSTRAR LA MODAL: */

.show {
  /* opacity: 1; */
  display: block;
  pointer-events: auto;
  justify-content: center;
  align-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 195px;
}
