.popup__close-popup {
  background-image: url(../../../images/close_icon.svg);
  position: absolute;
  top: 146px;
  right: 460px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-size: 100%;
  cursor: pointer;
}

.popup__close-popup:hover {
  background-image: url(../../../images/close_icon_hover.svg);
}

/* MOBILE*/
@media screen and (min-width: 5px) and (max-width: 320px) {
  .popup__close-popup {
    top: 150px;
    right: 25px;
    width: 26px;
    height: 26px;
  }
}
